*{
  margin: 0;
}
h1{
  text-align: center;
}
h6{
  font-size: 10px;
  color: #fefefe;
}
span{
  color: #5581d3;
}
a {
  text-decoration: none; 
  color: inherit;
 }
 ::selection {
  background: rgba(0, 0, 0, 0.5);
}