header{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}
.title{
  font-size: 40px;
  color: #fefefe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px 5px 10px;
  color: #fefefe;
  border-radius: 15px;
  border: 1px #fefefe solid;
  transition: 0.3s ease;
}
.title:hover{
  color:#5581d3;
}
.austronaut{
  position: absolute;
  left: 19%;
  width: 100px;
  height: 100px;
  background: url(img/austronaut.png);
  background-size: cover;
  background-position: calc(100px + 50px);
  z-index: 1;
}
.conteiner{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  color: #fefefe;
}
.navigation {
  cursor: pointer;
  position: relative;
  overflow: hidden; 
}

.navigation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #5581d3;
  transition: 0.3s ease;
}
.navigation:hover::after {
  width: 100%;
}
@media all and (min-width: 320px ) and (max-width: 520px){
.austronaut{
  display: none;
}
.mobile{
  display: none;
}
.title{
  padding: 2px;
  font-size: 25px;
}
.navigation{
  font-size: 11px;
}
}
@media all and (min-width: 520px) and (max-width: 768px){
.austronaut{
  display: none;
  }
.navigation{
  font-size: 15px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px){
.austronaut{
  display: none;
}
}